.divForm{
    display: flex;
    flex-direction: column;

    .divPass{
        display: flex;
        flex-direction: column;
    }

    div{
        display: flex;
        flex-direction: row;
    }
}

