<div class="divForm">
  <div>
    <h1>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >accent</mat-icon
      >
      Perfil del alumno
    </h1>
  </div>

  <form [formGroup]="formProfileUser">
    <div class="divDataUser">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Primer apellido</mat-label>
        <input type="text" matInput formControlName="lastname1" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Segundo apellido</mat-label>
        <input type="text" matInput formControlName="lastname2" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>DNI</mat-label>
        <input type="text" matInput formControlName="dni" />
      </mat-form-field>
    </div>

    <div class="divDataUser">
      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input type="number" matInput formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Otro teléfono</mat-label>
        <input type="number" matInput formControlName="anotherPhone" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>País</mat-label>
        <input
          type="text"
          matInput
          formControlName="country"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Provincia</mat-label>
        <input type="text" matInput formControlName="province" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Código Postal</mat-label>
        <input type="number" matInput formControlName="postalCode" />
      </mat-form-field>
    </div>

    <div class="divDataUser">
      <mat-form-field appearance="fill">
        <mat-label>Localidad</mat-label>
        <input type="text" matInput formControlName="locality" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nickname</mat-label>
        <input type="text" matInput formControlName="nickname" />
      </mat-form-field>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="**********"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Repite la contraseña</mat-label>
        <input
          type="password"
          matInput
          formControlName="repeatPassword"
          placeholder="**********"
        />
      </mat-form-field> -->
    </div>

    <button
      class="margin"
      mat-raised-button
      color="primary"
      (click)="changeProfileUser()"
    >
      Modificar datos
    </button>
  </form>
</div>
